/@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem); }
    80% {
      transform: translateX(1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem); }
    80% {
      transform: translateX(-1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
  
  @keyframes moveInButton {
    0% {
      opacity: 0;
      transform: translateY(3rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
  
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* Force inheritance. Better practice */ }
  
  html {
    font-size: 62.5%;
    /* 10/16 = 0.625. This set allows users to change default font-size*/ }
  
  body {
    box-sizing: border-box;
    /* Not inherited */ }
  
  body {
    font-family: "Lato", sans-serif;
    /* font is inherit by child tags. More efficient then use the universal selector */
    font-weight: 400;
    /*font-size: 16px;*/
    /* Remove . Now we are using 10px root font-size*/
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    /* padding is not inherit */ }
  
  .heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    /* Trick to fix the little shaking when the animation ends */
    margin-bottom: 6rem; }
    .heading-primary--main {
      display: block;
      font-size: 6rem;
      font-weight: 700;
      letter-spacing: 3.5rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      /*
      animation-delay: 3s;
      animation-iteration-count: 3;
      */ }
    .heading-primary--sub {
      display: block;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 1.75rem;
      animation: moveInRight 1s ease-out; }
  
  .btn:link, .btn:visited {
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    /*initial state */
    position: relative; }
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    /* x y blur color */ }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }
  
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    /* It works because pseudo-elements behave like a child. So is 100% of the botton height  */
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    /* initial state */ }
  
  .btn--animated {
    animation: moveInButton .5s ease-out .75s;
    /* the last value is the delay time */
    animation-fill-mode: backwards;
    /* Apply 0% styles when animation starts */ }
    .row {
        max-width: 114rem;
        background-color: #eee;
        margin: 0 auto; }
        .row:not(:last-child) {
          margin-bottom: 8rem; }
          .row:after {
            content: "";
            display: table;
            clear: both; }
        
        .row .col-1-of-2 {
          width: calc((100% - 6rem) / 2);
          background-color: orangered;
          float: left; }
          .row .col-1-of-2:not(:last-child) {
            margin-right: 6rem; }
        .row .col-1-of-3 {
            width: calc((100% - 2 * 6rem) / 3);
            background-color: orangered;
            float: left; }
         .row .col-1-of-3:not(:last-child) {
           margin-right: 6rem; }
            
      
      
  .header {
    height: 95vh;
    /* 95% viewport height */
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
    background-size: cover;
    background-position: top;
    /* ensure image always stays at the top of the page */
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
    .header__logo-box {
      position: absolute;
      top: 4rem;
      left: 4rem; }
    .header__logo {
      height: 3.5rem; }
    .header__text-box {
      position: absolute;
      top: 40%;
      /* relative to the parent element */
      left: 50%;
      transform: translate(-50%, -50%);
      /* relative to itself */
      text-align: center;
      /* main button is a text element. This solution is easier than using text-transform */ }
  