.btn {

    &:link,
    &:visited {
        font-size: 1.6rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        /*initial state */
        position: relative;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        /* x y blur color */

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }

    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 2rem rgba($color-black, .2);
    }

    &--white {
        background-color: #fff;
        color: $color-grey-dark;

        &::after {
            background-color: #fff;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        /* It works because pseudo-elements behave like a child. So is 100% of the botton height  */
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
        /* initial state */
    }

    &--animated {
        animation: moveInButton .5s ease-out .75s;
        /* the last value is the delay time */
        animation-fill-mode: backwards;
        /* Apply 0% styles when animation starts */
    }
}
