body {
    font-family: "Lato", sans-serif;
    /* font is inherit by child tags. More efficient then use the universal selector */
    font-weight: 400;
    /*font-size: 16px;*/
    /* Remove . Now we are using 10px root font-size*/
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
    /* padding is not inherit */
}
    
.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    /* Trick to fix the little shaking when the animation ends */
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 700;
        letter-spacing: 3.5rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        /*
    animation-delay: 3s;
    animation-iteration-count: 3;
    */
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;
    }

}
